<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/activity.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header text-center"><%= title %></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="http://x.eqxiu.com/s/vC7WiFA4">
				<div class="activity-item">
					<div class="col-xs-5 img">
						<img src="/images/activity-item01.jpg">
					</div>
					<div class="col-xs-7 content">
						<div>双11脱光活动</div>
						<div>2015年11月11日</div>
						<div>微信活动</div>
						<div>已使用200</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>