<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<mete charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascripts/script.js"></script>
</head>
<body>
	<div class="container" id="page-index">
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="company-name" class="col-xs-12 control-label">商家名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="company-name">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-name" class="col-xs-12 control-label">商品名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="product-name">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-price" class="col-xs-12 control-label">商品价格(元)</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-price">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-id" class="col-xs-12 control-label">货号</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-id">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-stock" class="col-xs-12 control-label">总库存</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-stock">
						</div>
					</div>
					
					<div class="form-group img-group">
						<label for="product-img" class="col-xs-12 control-label">商品图片</label>
						<div class="col-xs-4 pro-img-item">
							<img src="//g-search1.alicdn.com/img/bao/uploaded/i4i2/TB1vwVAHFXXXXcYXXXXXXXXXXXX_!!0-item_pic.jpg_160x160.jpg">
						</div>
						<div class="col-xs-4 pro-img-item">
							<img src="//g-search1.alicdn.com/img/bao/uploaded/i4i1/TB1DlWeHpXXXXasXpXXXXXXXXXX_!!0-item_pic.jpg_160x160.jpg">
						</div>
						<div class="col-xs-4 pro-img-item">
							<img src="//g-search1.alicdn.com/img/bao/uploaded/i4i3/TB1U30zHFXXXXataXXXXXXXXXXX_!!0-item_pic.jpg_160x160.jpg">
						</div>
						<div class="col-xs-12">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#pro-img">添加</button>
						</div>
					</div>
					
					<div class="form-group color-group">
						<label for="product-color" class="col-xs-12 control-label">商品颜色</label>
						<div class="col-xs-12 pro-color-box">
							<div class="pro-color-item">绿色</div>
							<div class="pro-color-item">白色</div>
							<div class="pro-color-item">黑色</div>
							<div class="pro-color-item">红色</div>
							<div class="pro-color-item">翠绿色</div>
							<div class="pro-color-item">墨绿色</div>
							<div class="pro-color-item">橘黄色</div>
						</div>
						<div class="col-xs-12">
							<div class="btn btn-info" data-toggle="modal" data-target="#pro-color">添加</div>
						</div>
					</div>
					
					<div class="form-group size-group">
						<label for="product-size" class="col-xs-12 control-label">商品尺码</label>
						<div class="col-xs-12 pro-size-box">
							<div class="pro-size-item">XS</div>
							<div class="pro-size-item">S</div>
							<div class="pro-size-item">M</div>
							<div class="pro-size-item">L</div>
							<div class="pro-size-item">XL</div>
							<div class="pro-size-item">XXL</div>
						</div>
						<div class="col-xs-12">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#pro-size">添加</button>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-info center-block">提&nbsp;&nbsp;交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="pro-img">
		<div class="modal-dialog">
			<div class="modal-content">
				<!--<form method="post" enctype="multipart/form-data">-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">商品图片</h4>
					</div>
					<div class="modal-body">
						<input type="file" class="form-control" name="img" id="img" accept="image/*" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<!--<button type="submit" class="btn btn-primary" id="btnSub" >确定</button>-->
					</div>
				<!--</form>-->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="pro-color">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">商品颜色</h4>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" name="color">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default color-cancel-btn" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary color-ok-btn">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="pro-size">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">商品尺码</h4>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" name="size">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default size-cancel-btn" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary size-ok-btn">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
</html>
