<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" id="page-index">
		<%- include promptMessage %>
		<h3 class="text-center"><%= user.username %></h3>
		<div class="row">
			<div class="col-xs-12">
				<form method="post" class="form-horizontal">
					<div class="form-group">
						<label for="product-name" class="col-xs-12 control-label">商品名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="product-name" name="name">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-artno" class="col-xs-12 control-label">货号</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-artno" name="artno">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-place" class="col-xs-12 control-label">商品产地</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" id="product-place" name="place">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-price" class="col-xs-12 control-label">商品价格(元)</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-price" name="price">
						</div>
					</div>
					
					<div class="form-group">
						<label for="product-stock" class="col-xs-12 control-label">总库存</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="product-stock" name="stock">
						</div>
					</div>
					
					<!--<div class="form-group img-group">
						<label for="product-img" class="col-xs-12 control-label">商品图片</label>
						<div class="col-xs-4 pro-img-item">
							<img src="//g-search1.alicdn.com/img/bao/uploaded/i4i2/TB1vwVAHFXXXXcYXXXXXXXXXXXX_!!0-item_pic.jpg_160x160.jpg">
						</div>
						<div class="col-xs-12">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#pro-img">添加</button>
						</div>
					</div>
					-->
					<div class="form-group">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-info center-block">提&nbsp;&nbsp;交</button>
							<a href="/logout">退出</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
