body {
	font: 10px "Microsoft Yahei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-index {
	font-size: 1.6em;
}

.page-title {
	margin: 60px auto;
}

.reg-btn {
	margin-top: 30px;
}

.alert-box {
	position: relative;
	z-index: 9999;
}