body {
	font: 10px "Microsoft Yahei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-index {
	font-size: 1.6em;
}
.pro-img-item {
	margin-bottom: 5px;
//	max-height: 77px;
//	overflow: hidden;
}
.pro-img-item img {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
}
.pro-color-item,
.pro-size-item {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: top;
	margin-bottom: 5px;
}