body {
	font: 10px "Microsoft Yahei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-index {
	font-size: 1.6em;
}

.page-title {
	margin: 60px auto;
}

.reg-btn {
	margin-top: 30px;
}

.alert-box {
	width: 290px;
	position: fixed;
	z-index: 9999;
	top: 10px;
	left: calc((100% - 290px) / 2);
}

.alert-box .alert {
	margin: 0;
}